<div class="row">
  <div class="col m12 l4"><img src="/{{ directory }}/image/viktor-snow.jpg" class="responsive-img"></div>
  <div class="col m12 l8">
    <div class="card">
      <div class="card-content"><span class="card-title">{{ data.title }}</span>
        <p>{{ data.subtitle }}</p>
        <p>{{ data.personal }}</p>
        <div class="professional">{{ data.professional }}</div>
      </div>
    </div>
  </div>
</div>
